--
-- PostgreSQL database dump
--

-- Dumped from database version 12.22
-- Dumped by pg_dump version 12.22

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO superuser;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO superuser;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO superuser;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO superuser;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO superuser;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO superuser;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO superuser;

--
-- Name: polizas_asegurado; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.polizas_asegurado (
    id bigint NOT NULL,
    creado timestamp with time zone NOT NULL,
    actualizado timestamp with time zone NOT NULL,
    nombre character varying(200) NOT NULL,
    documento character varying(50) NOT NULL,
    telefono character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    direccion text NOT NULL
);


ALTER TABLE public.polizas_asegurado OWNER TO superuser;

--
-- Name: polizas_asegurado_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.polizas_asegurado ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.polizas_asegurado_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: polizas_aseguradora; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.polizas_aseguradora (
    id bigint NOT NULL,
    creado timestamp with time zone NOT NULL,
    actualizado timestamp with time zone NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL
);


ALTER TABLE public.polizas_aseguradora OWNER TO superuser;

--
-- Name: polizas_aseguradora_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.polizas_aseguradora ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.polizas_aseguradora_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: polizas_contratante; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.polizas_contratante (
    id bigint NOT NULL,
    creado timestamp with time zone NOT NULL,
    actualizado timestamp with time zone NOT NULL,
    nombre character varying(200) NOT NULL,
    documento character varying(50) NOT NULL,
    telefono character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    direccion text NOT NULL
);


ALTER TABLE public.polizas_contratante OWNER TO superuser;

--
-- Name: polizas_contratante_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.polizas_contratante ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.polizas_contratante_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: polizas_formapago; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.polizas_formapago (
    id bigint NOT NULL,
    creado timestamp with time zone NOT NULL,
    actualizado timestamp with time zone NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text NOT NULL
);


ALTER TABLE public.polizas_formapago OWNER TO superuser;

--
-- Name: polizas_formapago_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.polizas_formapago ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.polizas_formapago_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: polizas_poliza; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.polizas_poliza (
    id bigint NOT NULL,
    creado timestamp with time zone NOT NULL,
    actualizado timestamp with time zone NOT NULL,
    numero character varying(50) NOT NULL,
    fecha_inicio date NOT NULL,
    fecha_fin date NOT NULL,
    vigencia character varying(50) NOT NULL,
    i_trimestre numeric(10,2) NOT NULL,
    ii_trimestre numeric(10,2) NOT NULL,
    iii_trimestre numeric(10,2) NOT NULL,
    iv_trimestre numeric(10,2) NOT NULL,
    renovacion character varying(100) NOT NULL,
    actualizado_por_id bigint,
    asegurado_id bigint NOT NULL,
    aseguradora_id bigint NOT NULL,
    contratante_id bigint NOT NULL,
    creado_por_id bigint NOT NULL,
    forma_pago_id bigint NOT NULL,
    ramo_id bigint NOT NULL,
    prima_total numeric(10,2) NOT NULL,
    monto_asegurado numeric(10,2) NOT NULL
);


ALTER TABLE public.polizas_poliza OWNER TO superuser;

--
-- Name: polizas_poliza_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.polizas_poliza ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.polizas_poliza_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: polizas_ramo; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.polizas_ramo (
    id bigint NOT NULL,
    creado timestamp with time zone NOT NULL,
    actualizado timestamp with time zone NOT NULL,
    nombre character varying(100) NOT NULL,
    descripcion text NOT NULL
);


ALTER TABLE public.polizas_ramo OWNER TO superuser;

--
-- Name: polizas_ramo_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.polizas_ramo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.polizas_ramo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: polizas_reportegenerado; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.polizas_reportegenerado (
    id bigint NOT NULL,
    fecha_generacion timestamp with time zone NOT NULL,
    parametros jsonb NOT NULL,
    archivo_path character varying(255) NOT NULL,
    tipo_reporte character varying(50) NOT NULL,
    usuario_id bigint NOT NULL
);


ALTER TABLE public.polizas_reportegenerado OWNER TO superuser;

--
-- Name: polizas_reportegenerado_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.polizas_reportegenerado ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.polizas_reportegenerado_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO superuser;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.token_blacklist_blacklistedtoken_id_seq OWNER TO superuser;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.token_blacklist_blacklistedtoken_id_seq OWNED BY public.token_blacklist_blacklistedtoken.id;


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO superuser;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

CREATE SEQUENCE public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.token_blacklist_outstandingtoken_id_seq OWNER TO superuser;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: superuser
--

ALTER SEQUENCE public.token_blacklist_outstandingtoken_id_seq OWNED BY public.token_blacklist_outstandingtoken.id;


--
-- Name: usuarios_user; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.usuarios_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    rol character varying(10) NOT NULL,
    telefono character varying(20) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.usuarios_user OWNER TO superuser;

--
-- Name: usuarios_user_groups; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.usuarios_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.usuarios_user_groups OWNER TO superuser;

--
-- Name: usuarios_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.usuarios_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_user_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.usuarios_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: usuarios_user_user_permissions; Type: TABLE; Schema: public; Owner: superuser
--

CREATE TABLE public.usuarios_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.usuarios_user_user_permissions OWNER TO superuser;

--
-- Name: usuarios_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: superuser
--

ALTER TABLE public.usuarios_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.usuarios_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken ALTER COLUMN id SET DEFAULT nextval('public.token_blacklist_blacklistedtoken_id_seq'::regclass);


--
-- Name: token_blacklist_outstandingtoken id; Type: DEFAULT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken ALTER COLUMN id SET DEFAULT nextval('public.token_blacklist_outstandingtoken_id_seq'::regclass);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	usuarios	user
7	polizas	asegurado
8	polizas	aseguradora
9	polizas	contratante
10	polizas	formapago
11	polizas	poliza
12	polizas	ramo
13	polizas	reportegenerado
14	token_blacklist	blacklistedtoken
15	token_blacklist	outstandingtoken
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
anb5zmjnf83v52n0yputffbq025c48os	.eJxVjDsOwjAQBe_iGln-k1DS5wzWrteLA8iW4qRC3B0ipYD2zcx7iQjbWuLW8xJnEhehxel3Q0iPXHdAd6i3JlOr6zKj3BV50C6nRvl5Pdy_gwK9fGs2owsBfADWzubBgwuQEBVmAErsCRWT5eDP3rPT2SS2DgnGwRpjlXh_AAeNOLI:1ueeTi:UJ6UEThBm76EqE2tDjmPYfE0uXRXpaeunW8i_J6zvxQ	2025-08-06 14:46:10.909902-04
\.


--
-- Data for Name: polizas_asegurado; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: polizas_aseguradora; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.polizas_aseguradora (id, creado, actualizado, nombre, descripcion) FROM stdin;
2	2025-07-31 11:14:16.709838-04	2025-07-31 11:14:16.709838-04	Internacional de Seguros	
1	2025-07-31 11:12:23.988612-04	2025-07-31 15:32:38.541699-04	Oceania Seguros	
\.


--
-- Data for Name: polizas_contratante; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: polizas_formapago; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.polizas_formapago (id, creado, actualizado, nombre, descripcion) FROM stdin;
1	2025-07-31 16:15:38.302483-04	2025-07-31 16:15:38.302483-04	Semestral	Pago de la p├│liza cada seis (6) meses.
2	2025-07-31 16:15:51.686617-04	2025-07-31 16:15:51.686617-04	Anual	Pago de la p├│liza una vez al a├▒o.
\.


--
-- Data for Name: polizas_poliza; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: polizas_ramo; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.polizas_ramo (id, creado, actualizado, nombre, descripcion) FROM stdin;
2	2025-07-31 15:55:41.028766-04	2025-07-31 15:55:41.028766-04	RCG	P├│lizas de Responsabilidad Civil General
1	2025-07-31 15:53:34.145438-04	2025-07-31 16:05:25.104553-04	PYME	P├│lizas de Responsabilidad Civil General
\.


--
-- Data for Name: polizas_reportegenerado; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.polizas_reportegenerado (id, fecha_generacion, parametros, archivo_path, tipo_reporte, usuario_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
1	2025-07-23 16:54:41.551498-04	1
2	2025-07-23 16:58:45.161169-04	2
3	2025-07-23 16:59:46.420208-04	3
4	2025-07-23 17:02:21.562897-04	4
5	2025-07-23 17:18:54.979202-04	9
6	2025-08-04 13:12:20.749443-04	26
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: usuarios_user; Type: TABLE DATA; Schema: public; Owner: superuser
--



--
-- Data for Name: usuarios_user_groups; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.usuarios_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: usuarios_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: superuser
--

COPY public.usuarios_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 34, true);


--
-- Name: polizas_asegurado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.polizas_asegurado_id_seq', 7, true);


--
-- Name: polizas_aseguradora_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.polizas_aseguradora_id_seq', 2, true);


--
-- Name: polizas_contratante_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.polizas_contratante_id_seq', 7, true);


--
-- Name: polizas_formapago_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.polizas_formapago_id_seq', 2, true);


--
-- Name: polizas_poliza_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.polizas_poliza_id_seq', 8, true);


--
-- Name: polizas_ramo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.polizas_ramo_id_seq', 2, true);


--
-- Name: polizas_reportegenerado_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.polizas_reportegenerado_id_seq', 1, false);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 6, true);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 43, true);


--
-- Name: usuarios_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.usuarios_user_groups_id_seq', 1, false);


--
-- Name: usuarios_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.usuarios_user_id_seq', 4, true);


--
-- Name: usuarios_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: superuser
--

SELECT pg_catalog.setval('public.usuarios_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: polizas_asegurado polizas_asegurado_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_asegurado
    ADD CONSTRAINT polizas_asegurado_pkey PRIMARY KEY (id);


--
-- Name: polizas_aseguradora polizas_aseguradora_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_aseguradora
    ADD CONSTRAINT polizas_aseguradora_pkey PRIMARY KEY (id);


--
-- Name: polizas_contratante polizas_contratante_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_contratante
    ADD CONSTRAINT polizas_contratante_pkey PRIMARY KEY (id);


--
-- Name: polizas_formapago polizas_formapago_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_formapago
    ADD CONSTRAINT polizas_formapago_pkey PRIMARY KEY (id);


--
-- Name: polizas_poliza polizas_poliza_numero_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_numero_key UNIQUE (numero);


--
-- Name: polizas_poliza polizas_poliza_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_pkey PRIMARY KEY (id);


--
-- Name: polizas_ramo polizas_ramo_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_ramo
    ADD CONSTRAINT polizas_ramo_pkey PRIMARY KEY (id);


--
-- Name: polizas_reportegenerado polizas_reportegenerado_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_reportegenerado
    ADD CONSTRAINT polizas_reportegenerado_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user_groups usuarios_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user_groups usuarios_user_groups_user_id_group_id_7ca6624e_uniq; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_user_id_group_id_7ca6624e_uniq UNIQUE (user_id, group_id);


--
-- Name: usuarios_user usuarios_user_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user
    ADD CONSTRAINT usuarios_user_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user_user_permissions usuarios_user_user_permi_user_id_permission_id_801d2da9_uniq; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_permi_user_id_permission_id_801d2da9_uniq UNIQUE (user_id, permission_id);


--
-- Name: usuarios_user_user_permissions usuarios_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: usuarios_user usuarios_user_username_key; Type: CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user
    ADD CONSTRAINT usuarios_user_username_key UNIQUE (username);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: polizas_poliza_actualizado_por_id_af134c49; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_actualizado_por_id_af134c49 ON public.polizas_poliza USING btree (actualizado_por_id);


--
-- Name: polizas_poliza_asegurado_id_901164be; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_asegurado_id_901164be ON public.polizas_poliza USING btree (asegurado_id);


--
-- Name: polizas_poliza_aseguradora_id_bfff7853; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_aseguradora_id_bfff7853 ON public.polizas_poliza USING btree (aseguradora_id);


--
-- Name: polizas_poliza_contratante_id_da9c97f2; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_contratante_id_da9c97f2 ON public.polizas_poliza USING btree (contratante_id);


--
-- Name: polizas_poliza_creado_por_id_7c0be681; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_creado_por_id_7c0be681 ON public.polizas_poliza USING btree (creado_por_id);


--
-- Name: polizas_poliza_forma_pago_id_97ca8603; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_forma_pago_id_97ca8603 ON public.polizas_poliza USING btree (forma_pago_id);


--
-- Name: polizas_poliza_numero_153692da_like; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_numero_153692da_like ON public.polizas_poliza USING btree (numero varchar_pattern_ops);


--
-- Name: polizas_poliza_ramo_id_b9ab5d15; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_poliza_ramo_id_b9ab5d15 ON public.polizas_poliza USING btree (ramo_id);


--
-- Name: polizas_reportegenerado_usuario_id_48e7a7d5; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX polizas_reportegenerado_usuario_id_48e7a7d5 ON public.polizas_reportegenerado USING btree (usuario_id);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: usuarios_user_groups_group_id_ce48ebfd; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX usuarios_user_groups_group_id_ce48ebfd ON public.usuarios_user_groups USING btree (group_id);


--
-- Name: usuarios_user_groups_user_id_327741ca; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX usuarios_user_groups_user_id_327741ca ON public.usuarios_user_groups USING btree (user_id);


--
-- Name: usuarios_user_user_permissions_permission_id_32dd035e; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX usuarios_user_user_permissions_permission_id_32dd035e ON public.usuarios_user_user_permissions USING btree (permission_id);


--
-- Name: usuarios_user_user_permissions_user_id_6770e840; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX usuarios_user_user_permissions_user_id_6770e840 ON public.usuarios_user_user_permissions USING btree (user_id);


--
-- Name: usuarios_user_username_5ab4f1db_like; Type: INDEX; Schema: public; Owner: superuser
--

CREATE INDEX usuarios_user_username_5ab4f1db_like ON public.usuarios_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_usuarios_user_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_usuarios_user_id FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_poliza polizas_poliza_actualizado_por_id_af134c49_fk_usuarios_user_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_actualizado_por_id_af134c49_fk_usuarios_user_id FOREIGN KEY (actualizado_por_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_poliza polizas_poliza_asegurado_id_901164be_fk_polizas_asegurado_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_asegurado_id_901164be_fk_polizas_asegurado_id FOREIGN KEY (asegurado_id) REFERENCES public.polizas_asegurado(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_poliza polizas_poliza_aseguradora_id_bfff7853_fk_polizas_a; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_aseguradora_id_bfff7853_fk_polizas_a FOREIGN KEY (aseguradora_id) REFERENCES public.polizas_aseguradora(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_poliza polizas_poliza_contratante_id_da9c97f2_fk_polizas_c; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_contratante_id_da9c97f2_fk_polizas_c FOREIGN KEY (contratante_id) REFERENCES public.polizas_contratante(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_poliza polizas_poliza_creado_por_id_7c0be681_fk_usuarios_user_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_creado_por_id_7c0be681_fk_usuarios_user_id FOREIGN KEY (creado_por_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_poliza polizas_poliza_forma_pago_id_97ca8603_fk_polizas_formapago_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_forma_pago_id_97ca8603_fk_polizas_formapago_id FOREIGN KEY (forma_pago_id) REFERENCES public.polizas_formapago(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_poliza polizas_poliza_ramo_id_b9ab5d15_fk_polizas_ramo_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_poliza
    ADD CONSTRAINT polizas_poliza_ramo_id_b9ab5d15_fk_polizas_ramo_id FOREIGN KEY (ramo_id) REFERENCES public.polizas_ramo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: polizas_reportegenerado polizas_reportegenerado_usuario_id_48e7a7d5_fk_usuarios_user_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.polizas_reportegenerado
    ADD CONSTRAINT polizas_reportegenerado_usuario_id_48e7a7d5_fk_usuarios_user_id FOREIGN KEY (usuario_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_groups usuarios_user_groups_group_id_ce48ebfd_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_group_id_ce48ebfd_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_groups usuarios_user_groups_user_id_327741ca_fk_usuarios_user_id; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_groups
    ADD CONSTRAINT usuarios_user_groups_user_id_327741ca_fk_usuarios_user_id FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_user_permissions usuarios_user_user_p_permission_id_32dd035e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_p_permission_id_32dd035e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: usuarios_user_user_permissions usuarios_user_user_p_user_id_6770e840_fk_usuarios_; Type: FK CONSTRAINT; Schema: public; Owner: superuser
--

ALTER TABLE ONLY public.usuarios_user_user_permissions
    ADD CONSTRAINT usuarios_user_user_p_user_id_6770e840_fk_usuarios_ FOREIGN KEY (user_id) REFERENCES public.usuarios_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

